@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  outline: 0;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;

  display: flex;
  justify-content: space-between;
}

header .logo {
  margin-left: 100px;
  padding: 20px;
}

header .nav ul {
  list-style: none;
  display: flex;
  margin-right: 200px;
}

header .nav ul li {
  padding-right: 40px;
  padding-top: 20px;
}

header .nav ul li a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

header .nav ul li .current {
  color: #8490ff;
}

header .nav ul li a:hover {
  color: #8490ff;
  transition: all 0.3s ease 0s;
}

/* Hero Section */
.hero {
  background-color: #f9f9ff;
  width: 100%;
  height: 665px;
  margin-top: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left,
.hero-right {
  width: 50%;
}

.hero-left {
  margin-left: 230px;
  margin-bottom: 120px;
}

.hero-right {
  padding-right: 160px;
  margin-top: 50px;
}

.hero-right img {
  max-width: 100%;
  height: auto;
}

.hero-left h6 {
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 2px;
  font-size: 14px;
  color: #222;
}

.hero-left h1 {
  margin: 20px 0;
  line-height: 1.2em;
  font-size: 60px;
  color: #222;
  font-weight: 600;
}

.hero-left p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.btn {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  line-height: 42px;
  padding: 0 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
  transition: all 0.3s ease 0s;
  outline: none;
}

/* About Section */
.about {
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left,
.about-right {
  width: 50%;
}

.about-right {
  padding-left: 8rem;
}

.about-left img {
  max-width: 100%;
  height: auto;
}

.about-left {
  padding-left: 150px;
}

.about-right h6 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  line-height: 1.2em;
}

.about-right h1 {
  margin-bottom: 40px;
  font-size: 36px;
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
}

.about-right p {
  margin-bottom: 30px;
  max-width: 445px;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

/* Service Section */
.service {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  text-align: center;
}

.title h1 {
  font-size: 36px;
  color: #222;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.title p {
  width: 670px;
  margin: 0 auto;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  margin-bottom: 1rem;
}

.services {
  width: 80%;
  margin: 0 auto;
  padding-top: 45px;
}

.ser1 {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
}

.ser1 > * {
  flex: 1 1 33.33333%;
  padding: 20px;
}

.services i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.services h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
}

.services p {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  margin-bottom: 1rem;
}

.ser1 div:hover {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  cursor: pointer;
}

.ser1 div:hover i {
  color: white;
}

.ser1 div:hover h4 {
  color: white;
}

.ser1 div:hover p {
  color: white;
}

/* Facts */
.facts {
  width: 100%;
  padding: 120px 0;
  height: 300px;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);

  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.facts h1 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2em;
}

.facts p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

/* Portfolio */
.portfolio {
  width: 100%;
  padding: 120px 0;
}

.portfolio .text {
  text-align: center;
}

.portfolio .text h1 {
  font-size: 36px;
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio .text p {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(3, 373px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.portfolio .gallery > div {
  text-align: center;
  padding-bottom: 40px;
}

.portfolio .gallery h4 {
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
  font-size: 18px;
}

.portfolio .gallery p {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.portfolio figure {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  width: 340px;
  height: 339px;
  overflow: hidden;
  border-radius: 3%;
}

.portfolio figure:hover img {
  opacity: 0.3;
  transition: all 0.3s ease 0s;
}

/* Pricing */
.pricing {
  width: 100%;
}

.pricing .text2 {
  text-align: center;
}

.pricing .text2 h1 {
  margin-bottom: 10px;
  font-size: 36px;
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
}

.pricing .text2 p {
  margin-bottom: 1rem;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.pricing .card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
  align-items: center;
}

.pricing .card .card1 {
  text-align: center;
  background-color: #f9f9ff;
  padding: 40px 20px;
}

.card1 > h1 {
  transition: all 0.3s ease 0s;
  font-weight: 300;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  background-color: rgba(132, 144, 255, 0.1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 30px solid rgba(132, 144, 255, 0.1);
  font-size: 36px;
  color: #222222;
  line-height: 1.2em;
}

.card1 h4 {
  margin-top: 20px;
  font-size: 18px;
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
}

.card1 p {
  margin-top: 10px;
  margin-bottom: 1rem;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.card1 .card-list {
  padding-bottom: 30px;
  padding-top: 15px;
}

.card1 .card-list ul {
  list-style: none;
}

.card1 .card-list ul li {
  padding: 10px 0;
  border-top: 1px solid #eee;
  display: list-item;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.card1 .card-list ul li:last-child {
  border-bottom: 1px solid #eee;
}

.card1 .card-price h1 {
  font-size: 36px;
  color: #222222;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.card1 .card-price .price-btn {
  transition: all 0.3s ease 0s;
  background-color: #fff;
  color: #222;
  padding: 10px 50px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  display: none;
}

.card .card1:hover {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  transition: all 0.3s ease 0s;
}

.card .card1:hover .card-price h1 {
  display: none;
}

.card .card1:hover .price-btn {
  display: block;
}

.card .card1:hover > *,
.card-price:hover > * {
  color: #fff;
}

.card .card1:hover .card-list ul li {
  color: #fff;
}
